<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grandma's eRecipe</title>
</head>
<body>
    eRecipe: <a href="/index">Home</a> <br>
    <a href="/search">Search</a>
    {% block content %}{% endblock %}
</body>
</html>