{% extends "base.html" %}

{% block content %}
{% for recipe in recipes %}
    <h1>Recipe: {{ recipe.name }}</h1>
    <hr>
    {% for ingredient in recipe.ingredients %}
    <p>{{ ingredient.amount }} {{ ingredient.unit }} of {{ ingredient.name }}
    </p>
    {% endfor %}
    <p>
    {{ recipe.instructions }}
    </p>
    {% endfor %}

        <h1>Add recipe</h1>
        <form action="" method="post">
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}
            </p>
            <p> Ingredients:</p>
            <ul>
                <li>
                {{ form.ingredients_name.label }}<br>
                {{ form.ingredients_name(size=32) }}
                </li>
                <li>
                {{ form.ingredients_amount.label }}<br>
                {{ form.ingredients_amount(size=32) }}
                </li>
                <li>
                {{ form.ingredients_unit.label }}<br>
                {{ form.ingredients_unit(size=32) }}
                </li>
            </ul>
            <p>
                {{ form.instructions.label }}<br>
                {{ form.instructions(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
{% endblock %}
