{% extends "base.html" %}

{% block content %}
    <h1>Recipe: {{ recipe.name }}</h1>
    <hr>
    {% for ingredient in recipe.ingredients %}
    <ul>
    <li>{{ ingredient.name }}</li>
    <li>{{ ingredient.amount }}</li>
    <li>{{ ingredient.unit }}</li>
    </ul>
    {% endfor %}
    <p>
    {{ recipe.instructions }}
    </p>

{% endblock %}