{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    <p>
        {{ form.ingredient_name.label }}<br>
        {{ form.ingredient_name(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}